@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.029em;
}


html,
body {
  position: relative;
  font-family: DM Sans, Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100%;
  font-size: 16px;
  font-weight: 400;
  display: block;
  background: #E5E5E5;
}

.toggle--container {
  box-shadow: insert 0 8px 60px rgba(0, 0, 0, 0.1),
              inset 0 8px 8px rgba(0, 0, 0, 0.1),
              inset 0 -4p 4px rgba(0, 0, 0, 0.1);
}

.toggle--indicator {
  height: 1.1rem;
  width: 1.1rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
              inset 0 4px 4px rgba(255, 255, 255, 0.2),
              inset 0 -4p 4px rgba(255, 255, 255, 0.2);

}

.sidebar--account--container {
  background: linear-gradient(228.89deg, #5429FF 1.12%, #BBAAFF 100%), url('../public/Images/Ethereum.png'), url('../public/Images/Ethereum (ETH).png');
  background-repeat: no-repeat, no-repeat, no-repeat;
}